body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.azul {
  background: #009dff;
}

.azul.light {
  background: #66ceff;
}

.magenta {
  background: #ff0050;
}

.magenta.light {
  background: #ff7ca5;
}

.verde {
  background: #00ba15;
}

.verde.light {
  background: #70ff9b;
}

.amarillo {
  background: #ffae00;
}

.amarillo.light {
  background: #fcec3c;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}
